/* ↓ Scroll Box ↓ */
.style-scroll-box {
    position: relative;
    margin: 2em auto 2.5em;
    padding: 1.5em;
    border: 12px solid transparent;
    border-left-width: 48px;
    background: linear-gradient(#fff, #fff), linear-gradient(#a3caae, #acd1b9);
    background-clip: padding-box, border-box;
    background-origin: border-box;
}
.style-scroll-box:before,
.style-scroll-box:after {
    display: inline-block;
    position: absolute;
    content: "";
}
.style-scroll-box:before {
    left: -36px;
    top: -32px;
    width: 24px;
    height: calc(100% + 64px);
    background: #4d4d4d;
}
.style-scroll-box:after {
    left: -48px;
    top: -20px;
    width: 48px;
    height: calc(100% + 40px);
    background: linear-gradient(#035c1d, #047c28);
}
/* ↑ Scroll Box ↑ */

/* ↓ Jumping Character Animation ↓ */
.character-jump-animation {
    will-change: animation;
    backface-visibility: hidden;
    animation: 10s linear infinite character-jump-animation;
    animation-delay: 1s;
}
@keyframes character-jump-animation {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }
    2% {
        transform: translate3d(0px, -10px, 0px);
    }
    5% {
        transform: translate3d(0px, 0px, 0px);
    }
    7% {
        transform: translate3d(0px, -10px, 0px);
    }
    10% {
        transform: translate3d(0px, 0px, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}
/* ↑ Jumping Character Animation ↑ */
